@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-scrollbar {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

/* Ẩn scrollbar mặc định */
.chat-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Khi hover thì hiện scrollbar đẹp */
.chat-scrollbar:hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.chat-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5); /* gray-400 */
    border-radius: 9999px;
}

.chat-scrollbar:hover::-webkit-scrollbar-track {
    background-color: rgba(55, 65, 81, 0.2); /* gray-700 */
}

.typing-dots {
    display: inline-flex;
    align-items: center;
}
.typing-dots .dot-1,
.typing-dots .dot-2,
.typing-dots .dot-3 {
    animation: blink 1.4s infinite both;
    font-weight: bold;
}
.typing-dots .dot-2 {
    animation-delay: 0.2s;
}
.typing-dots .dot-3 {
    animation-delay: 0.4s;
}
@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}